a{
	text-decoration:underline;
}

.btn{
  border-width: 2px;
	text-decoration:none;
}

*>.fa:first-child{
	margin-right:6px;
}

.close {
	font-size:40px;
	opacity:1;
	&:hover{opacity:1}
}





h1, .h1 {
  margin-top: 0;
  margin-bottom: @line-height-computed*2;
	font-size:24px;

	@media (min-width: @screen-md-min){
		font-size:34px;
	}
}

h2, .h2{
  margin-top: @line-height-computed*3;
  margin-bottom: @line-height-computed*1.5;
}

h3, .h3{
	color: #0d9a4c;
}


.page-header{
	h1{
		font-size:34px;
		@media (min-width: @screen-md-min){
			font-size:50px;
		}

		small{
			font-size:24px;
			color:inherit;display:block;font-weight:@headings-font-weight;

			@media (min-width: @screen-md-min){
				font-size:34px;
			}

		}
	}
	border:0;
	margin:0;
}